<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Criminals</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/dist/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container-lg">
    <!--/*@thymesVar id="status" type="com.example.interpol.entities.Status"*/-->
    <!--/*@thymesVar id="professions" type="com.example.interpol.entities.Profession"*/-->
    <!--/*@thymesVar id="languages" type="com.example.interpol.entities.Language"*/-->
    <h2 class="text-center">Internationally Wanted Criminals</h2>
    <br>
    <form method="post" action="add_criminal">
        <label class="form-label" for="first_name">First Name:</label>
        <input class="form-control" id="first_name" type="text" required>
        <label class="form-label" for="last_name">Last Name:</label>
        <input class="form-control" id="last_name" type="text" required>
        <label class="form-label" for="alias">Alias:</label>
        <input class="form-control" id="alias" type="text" required>
        <label class="form-label" for="date_birth">Date of birth:</label>
        <input class="form-control" id="date_birth" type="date">
        <label class="form-label" for="place_birth">Place of birth:</label>
        <input class="form-control" id="place_birth" type="text">
        <label class="form-label" for="nationality">Nationality:</label>
        <input class="form-control" id="nationality" type="text" required>
        <label class="form-check-label form-check-inline" for="languages">Languages:</label><!--checkboooooooox-->
        <!--<input class="form-control" id="languages" type="text">-->
        <input class="form-check-input form-check-inline" id="languages" type="checkbox"
                   th:each="l:${languages}"
                   th:text="${l.getLanguage()}"
                   th:value="${l.getId()}"
                   th:field="*{languages}"><br>
        <label class="form-label" for="eyes_color">Eyes color:</label>
        <input class="form-control" id="eyes_color" type="text">
        <label class="form-label" for="hair_color">Hair color:</label>
        <input class="form-control" id="hair_color" type="text">
        <label class="form-label" for="height">Height:</label>
        <input class="form-control" id="height" type="number">
        <label class="form-label" for="last_place_residence">Last place of residence:</label>
        <input class="form-control" id="last_place_residence" type="text">
        <label class="form-label" for="special_signs">Special signs:</label>
        <input class="form-control" id="special_signs" type="text">
        <label class="form-label" for="criminal_group">Criminal group:</label>
        <input class="form-control" id="criminal_group" type="text" placeholder="Empty = Single player"><!--spinneeeeeeeeeeeeeeeer?????????-->
        <label class="form-label" for="last_case">Last case:</label>
        <input class="form-control" id="last_case" type="text">
        <label class="form-label" for="profession">Profession:</label><!--spinnneeeeeeeeeeeeeeeer-->
        <select id="profession" class="form-select" name="profession" aria-label="Profession" th:field="*{professions}" required>
            <option th:each="p : ${professions}" th:value="${p.getTitle()}" th:text="${p.getTitle()}">
            </option>
        </select>
        <label class="form-label" for="status">Status:</label>
        <select id="status" class="form-select" name="status" aria-label="Status" th:field="*{status}" required>
            <option th:each="s : ${status}" th:value="${s.getStatus()}" th:text="${s.getStatus()}">
            </option>
        </select>

        <button type="submit" class="btn btn-primary custom">Add</button>
    </form>
    <br>
<table class="table table-sm table-striped table-hover table-bordered align-middle">
    <thead class="table">
    <tr  class="text-center">
        <td class="td-header">#</td>
        <td class="td-header">Full Name</td>
        <td class="td-header">Alias</td>
        <td class="td-header">Status</td>
        <td class="td-header">Info</td>
        <td class="td-header">Edit</td>
        <td class="td-header">Delete</td>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="criminals" type="com.example.interpol.entities.Criminal"*/-->
    <tr th:each="c:${criminals}">
        <td class="text-center" th:text="${c.id}"></td>
        <td th:text="${c.firstName} + ' ' + ${c.lastName}"></td>
        <td th:text="${c.alias}"></td>
        <td th:text="${c.status.getStatus()}"></td>
        <td class="text-center">
            <a th:href="@{/criminal_info/{id}(id=${c.id})}" class="btn btn-sm btn-outline-primary">Show</a>
        </td>
        <td class="text-center">
            <a th:href="@{/edit_criminal(id=${c.id})}" class="btn btn-sm btn-outline-info">Edit</a>
        </td>
        <td class="text-center">
           <!-- <a th:href="@{/delete_criminal(id=${c.id})}" class="btn btn-sm btn-outline-danger">Delete</a>-->
            <span th:if="${c.status.getStatus() == 'Dead'}"><a class="btn bt-sm btn-outline-danger" data-bs-toggle="modal"
                                                               data-bs-target="#myconfirm"
               th:attr="data-bs-link=@{/delete_criminal(id=${c.id})}, data-bs-text=${c.alias}, data-bs-id=${c.id}">Delete</a></span>
            <span th:if="${c.status.getStatus() != 'Dead'}">Forbidden</span>
        </td>
    </tr>
    </tbody>
</table>
</div>
<div class="modal fade" id="myconfirm" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="staticWarningLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticWarningLabel">Warning</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete criminal?<br/>
                If you click delete, this action <i>cannot be undone</i>.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Cancel
                </button>
                <a class="btn btn-danger delete-button">Delete</a>
            </div>
        </div>
    </div>
</div>
<script>
    let myConfirmModal = document.getElementById('myconfirm');
    myConfirmModal.addEventListener('show.bs.modal', function (event) {
        let button = event.relatedTarget;
        let link = button.getAttribute('data-bs-link');
        let tid = button.getAttribute('data-bs-id');
        let text = button.getAttribute('data-bs-text');
        let modalTitle = myConfirmModal.querySelector('.modal-title');
        modalTitle.textContent = 'Deleting criminal: ' + text + ' (' + tid + ')'
        let deleteButton = myConfirmModal.querySelector('.delete-button');
        deleteButton.setAttribute("href", link)
    })
</script>
<script th:src="@{webjars/jquery/3.7.0/dist/jquery.js}"></script>
<script th:src="@{webjars/popperjs__core/2.11.8/dist/umd/popper.js}"></script>
<script th:src="@{webjars/bootstrap/5.3.0/dist/js/bootstrap.bundle.js}"></script>
</body>
</html>