<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/dist/css/bootstrap.css}">
</head>
<body>
<div class="container align-content-center text-center p-2 bd-highlight">
    <br>
    <h3>Interpol Data</h3>
    <a href="criminals" class="btn btn-primary" role="button">CRIMINALS</a>
    <a href="groups" class="btn btn-primary" role="button">CRIMINAL GROUPS</a>
    <a href="archive" class="btn btn-primary" role="button">ARCHIVE</a>
    <br style="margin-bottom: 20px">
    <a href="filter" class="btn btn-primary" role="button">FILTER PAGE</a>
</div>

</body>
</html>